body{
    margin: 0;
    padding: 0;
}
/* header*/
header{
    background: #4EA0FF url(../img/pattern.png) repeat-x;
    background-size:35%;
    background-position-x: 10%;
    height: 100px;
}

#logo{
    height: 50%;
    margin: 40px 0px 10px 10px;
}

.article-container{
    margin: 10px;
}
/*heading and author section */
#title{
    font-size: 30px;
    margin-bottom: 10px;
}
.heading-section div{
    color: #808080;
}
#author{
    color: #2BADE6;
    text-decoration: none;
}
#published-date{
    font-size: 12px;
}

/* photo section */
.photo{
    margin: 20px 0;
}
.photo .caption{
    font-size: 12px;
}

/* text 1, text 2*/
p{
    margin: 20px 0;;
}

/*list*/
.list{
    margin: 20px 0;
    padding-left:15px;
}

/*table*/
table{
    margin: 20px 0;
    text-align: left;
    border-collapse: collapse;
}


.col-3{/* column 3 resizing */
    width: 50%;
}

.table-head{
    background-color: #20A9E5;
    color: white;
}

.odd-row{/*color odd rows */
    background-color: #B1E5F2;
}

/* footer */
#adv-title{
    font-weight: bold;
    color:#808080;
    margin-bottom:15px;
}
.adv{
    padding-top: 1px;
    margin-bottom: 10px;
}
.adv .text{
    padding: 10px;
    font-weight: bold;
    color: white;
}
#monitor-img{
    height: 150px;
    width: 250px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}
#graph-img{
    height: 150px;
    width: 250px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}
