header{
    background: #4EA0FF url(../img/pattern.png) repeat-x;
    background-size:35%;
    background-position-x: 10%;
    height: 100px;
    position: relative;
}

header img{
    height: 50%;
    position: absolute;
    bottom: 10px;
    left:10px;
}

.intestazione div{
    color: #808080;

}

#autore{
    color: #2BADE6;
    text-decoration: none;
}

.intestazione .data{
    font-size: 12px;
}

.foto{
    margin: 20px 0;
}
.foto .crediti{
    font-size: 12px;
}

table{
    margin: 0;
    text-align: left;
    border-collapse: collapse;
}

.prima-colonna,.seconda-colonna{
    width: 20%;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.riga-dispari{
    background-color: #B1E5F2;
}

#testo-footer{
    color:#808080;
}
footer div{
    margin-bottom: 10px;
}
footer span{
    position:absolute;
    color: white;
}

main,footer{
    width: 80%;
    margin: auto;
}