/* dimensionamento larghezza pagina */
body{
    width: 1303px;
    margin: 0;
}

/* header inizio */
header{
    position: relative;
    background: #4EA0FF url(../img/pattern.png) repeat-x;
    background-size:30% ;
    /* background-position-x: 70px; */
    height: 100px;
    position: relative;
}
header img{
    height: 50%;
    position: absolute;
    bottom: 10px;
    left:10%;
}
/* header fine */

/* margine main */
main{
    width: 80%;
    margin: auto;
}

/*sez titolo e autore inizio*/
.intestazione h1{
    font-size: 38px;
    margin-bottom: 10px;
}
.intestazione div{
    color: #808080;
}
#autore{
    color: #2BADE6;
    text-decoration: none;
}
.intestazione .data{
    font-size: 12px;
}
/*sez titolo e autore fine*/

/* sez foto */
.foto{
    margin: 32px 0;
}
.foto .crediti{
    font-size: 12px;
}

/* stile paragrafo */
p{
    margin: 32px 0;
}

/*stile lista */
.lista{
    padding-left:10px;
    margin:32px 0;
}

/* stile tabella inizio*/
table{
    margin: 32px 0;
    text-align: left;
    border-collapse: collapse;
}

/* ridimensionamento prime due colonne tabella */
tr>th:first-child,tr>th:nth-child(2){
    width:20%;
}
tr>td:first-child,tr>td:nth-child(2){
    width:20%;
}

thead{
    background-color: #20A9E5;
    color: white;
}

/* aggiunta stesso colore alle righe dispari */
tbody tr:nth-of-type(odd){
    background-color: #B1E5F2;
}
/* stile tabella fine */

/* stile footer inizio */
footer{
    width: 80%;
    margin: auto;
}
#testo-footer{
    font-weight: bold;
    color:#808080;
}
footer div{
    position: relative;
    margin-bottom: 10px;
}
footer div>span{
    font-weight: bold;
    position:absolute;
    top:5px;
    left:5px;
    color: white;
}
footer img{
    width: 20%;
}
/* stile footer fine */